<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Index</title>
    <link rel="stylesheet" type="text/css" href="<%= stylesDir %>/confluence-batch.css">
    <link rel="stylesheet" type="text/css" href="<%= stylesDir %>/nav.css">
</head>
<body>
<div class="sidenav">
    <%= nav %>
</div>
<div class="main">
    <div class="export-meta">
        <table>
            <tr>
                <td class="label">Export date</td>
                <td class="value"><%= html.format(exportMeta.exportDate) %></td>
            </tr>
            <tr>
                <td class="label">Export source Confluence</td>
                <td class="value"><%
                    if(exportMeta.baseUrl) {
                    %>
                    <a href="<%= exportMeta.baseUrl %>"><%= exportMeta.baseUrl %></a><%
                    }
                    else {
                    %>
                    -<%
                    }
                    %></td>
            </tr>
            <tr>
                <td class="label">Export root pages (space key/page title)</td>
                <td class="value"><ul><%
                    exportMeta.spaceKeyPageTitles.each { %>
                    <li><%= it.spaceKey %>/<%= it.pageTitle %></li><%
                    }
                    %>
                </ul></td>
            </tr>
        </table>
    </div>
    <div class="page-index">
        <h2>Page tree</h2>
        <div class="page-tree">
        <%= nav %>
        </div>
    </div>
</div>
</body>
</html>