/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 10px;
}

/* The navigation menu links */
.sidenav a,b {
    padding: 1px 1px 1px 2px;
    text-decoration: none;
    font-size: 12px;
    color: #9a9a9a;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Metadata divider */
.main .meta-divider {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #172B4D;
    background: #172B4D;
}
